# Archivos de entorno
mongo.env
redis.env
.env

# Archivos de sistema (macOS)
.DS_Store

# Pycache
__pycache__/
*.py[cod]*.pyc

dump.rdb

hadoop-data/

# Archivos de datos temporales del sistema de consultas
*.csv
pig_*.log
shared-data/

# Logs del sistema
*.log

# Archivos temporales de IDEs
.vscode/
.idea/
*.swp
*.swo